body {
  font-family: Arial;
  background: #121212;
  color: white;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

input, select, button {
  margin: 5px;
  padding: 8px;
}

button {
  background: #00adb5;
  border: none;
  color: white;
  cursor: pointer;
}

li {
  background: #1f1f1f;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  color: gray;
}
